body {
  height: 100vh;
  font-family: Roboto;
  margin: 0;
}

.background1 {
  background: #1f2937;
}

img.popop {
  border-radius: 45%;
}

.container {
  display: flex;
  flex-direction: column;
}

.text {
  margin: 20px;
}

.header {
  height: 72px;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.pop {
  display: flex;
  align-items: center;
  gap: 16px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
}

.hero {
  margin: 80px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.big {
  font-size: 48px;
  color: #f9faf8;
}

.small {
  color: #e5e7eb;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.sign {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

.ten {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 60px;
}

.textd {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.box {
  border: 8px solid #3882f6;
  border-radius: 14px;
  width: 250px;
  height: 250px;
}

.den {
  max-width: 250px;
}

.cen {
  text-align: center;
  font-style: italic;
  white-space: normal;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #e5e7eb;
  padding: 50px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  margin: 70px 50px 50px 50px;
}

.auth {
  text-align: end;
  font-weight: bold;
  font-style: normal;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.textc {
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px 40px 100px;
  background-color: #3882f6;
}
.callt {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.callr {
  font-weight: normal;
  margin: 0;
  color: white;
  font-size: 20px;
}

.buttons {
  margin-left: 70px;
}
button.signn {
  font-weight: bold;
  background-color: #3882f6;
  color: white;
}

.odin {
  color: white;
  padding: 30px;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
}
